@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Corona Management System</h1>
    <p>Welcome to the Corona Management System for a large health fund.</p>
</div>
